html{
    min-height: 100%;
    background-color: #698C9F;
    background-image: url("lighting.png"), url("cubepattern_blu.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover, 50px auto;
    background-position: center;
}

body{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
}

.centeredform{
    display: flex;
    justify-content: center;
}

section{
    margin: 15px 0;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 24px 0px #000000;
    justify-content: center;
}

button{
    display:inline-block;
    color:#000000;
    font-weight: bold;
}
button:enabled{
    cursor: pointer;
}
button:not(.moveUp, .moveDown, .remove) {
    background-color:#9cbac9;
    border-radius:10px;
    border:none;
    padding:2px 13px;
}
button:enabled:hover:not(.moveUp, .moveDown, .remove) {
    background-color:#C7BF6B;
}
button:enabled:active {
    position:relative;
    top:1px;
}
button#prevLast:disabled, #gradePreview:disabled{
    background-color:#969696;
    color:#ffffff;
}
button#addRow{
    padding:3px 17px;
    font-size: 18px;
}
button.moveUp, .moveDown, .remove{
    border:none;
    background-color: Transparent;
    font-size: 22px;
}
button.remove:disabled, #addRow:disabled{
    opacity: 0;
}

select {
    height: 30px;
    border: 1px solid #91adbb;
    font-size: 16px;
    color: #000000;
    background-color: #9cbac9;
    border-radius: 5px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input[type=text] {
    width: 200px;
    padding: 4px 5px;
    margin: 4px 0;
    box-sizing: border-box;
}

div.inputGroup{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
}

textarea{
    resize:none;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table.prevProb{
    border-collapse:collapse;
    border-width:3px;
    border-color:#5a676d;
    border-style:solid;	
}
table.prevProb td, table.prevProb thead{
    border-width:3px;
    border-color:#5a676d;
    border-style:solid;
    padding:7px 5px;
}
table.prevProb thead{
    background-color: #4b4b68;
    color: white;
    text-align: left;
    font-weight:bold;
    font-size:16px;
}
table.prevProb tbody tr:hover{
    background-color: #C7BF6B;
    cursor: pointer;
}

#answerTable td:nth-child(2){
    padding: 0 30px;
}
#answerTable td:nth-child(odd){
    max-width: 150px;
}