html{
    min-height: 100%;
    background-color: #698C9F;
    background-image: url("lighting.png"), url("cubepattern_blu.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover, 50px auto;
    background-position: center;
}

body{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;

}

nav.crum.c1{
    font-size: 45px;
}
nav.crum{
    white-space: nowrap;
}
main > nav, nav.crum{
    margin: 15px 0;
    padding: 5px 30px;
    background-color: rgba(0,0,0,20%);
    font-family: Barto;
    font-size: 30px;
    color: white;
}

section.bigNav{
    cursor: pointer;
}
section.bigNav{
    padding-left: 130px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
}
section.bigNav:hover{
	background-color: hsl(45, 100%, 90%);
}
main section{
    margin: 15px 0;
    padding: 20px 40px;
        padding-left: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 24px 0px #000000;
}